root = true

[*.cs]

# SerilogAnalyzer002: Property binding verifier
dotnet_diagnostic.SerilogAnalyzer.severity = error

dotnet_diagnostic.SerilogAnalyzer.LoggerAbstraction = LoggingAbstractions.ILog
